* {
    box-sizing: border-box;
  }
  
  body {
    max-width: 60rem;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

  .center {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
  }

  .row {
    display: flex;
    /* gap: 1rem; */
    flex-wrap: wrap;
    align-items: center;
  }

  .justify-space-between {
    justify-content: space-between;
  }

  #randomWord {
    font-size: 6rem;
  }